.Input {
    width: 120px;
    height: 48px;
    outline: none;
    border-radius: 5px;
}

.Input-default {
    border: 1px solid #ccc;
}

.Input-error {
    border: 1px solid red;
}

.Input-focus {
    border:1px solid black;
    -webkit-animation: borderBlink 1s step-end infinite;    
    animation: borderBlink 1s step-end infinite;    
}

@-webkit-keyframes borderBlink {    
    from, to {    
        border-color: transparent    
    }    
    50% {    
        border-color: black    
    }    
}    
@keyframes borderBlink {    
    from, to {    
        border-color: transparent    
    }    
    50% {    
        border-color: black    
    }    
}  