:root {
    --defaultColor: #12345678;
    --aquaColor: aqua;
    --secondaryColor:burlywood;
    --errorColor:red;
}

.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    min-width: 32px;
    min-height: 32px;
    background-color: aliceblue;
}

.Button-primary{
    background-color: var(--aquaColor);
}

.Button-default{
    background-color: var(--defaultColor);
}

.Button-secondary {
    background-color: var(--secondaryColor);
}

.Button-error {
    background-color: var(--errorColor);
}